{{ ansible_managed }}

auto lo
iface lo inet loopback

auto mgmt
iface mgmt
    vrf-table auto
    address 127.0.0.1/8

auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto swp1
iface swp1

auto swp2
iface swp2

auto borderBond
iface borderBond
    bond-slaves swp1 swp2
    mtu 9000

{% for vlan in devices[inventory_hostname].bond %}
auto borderBond.{{ devices[inventory_hostname].bond[vlan].id }}
iface borderBond.{{ devices[inventory_hostname].bond[vlan].id }}
  address {{ devices[inventory_hostname].bond[vlan].ip | ipaddr('address')  }}
  netmask {{ devices[inventory_hostname].bond[vlan].ip | ipaddr('netmask')  }}
  mtu 9000
{% endfor %}