{{ ansible_managed }}
frr defaults datacenter
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for fabric_links in fabric_links %}interface {{ fabric_links }}
ip ospf area {{ ospf.area }}
ip ospf network {{ ospf.network_type }}
{% endfor %}
!
router ospf
 ospf router-id {{ devices[inventory_hostname].loopback|ipaddr('address') }}
!
line vty
!
