
###############
# Bridge
###############

auto bridge
iface bridge
    bridge-ports peerlink \
                 {% for bond in racks[devices[inventory_hostname].rack].clag.bonds %}bond{{ bond.interface[3:] }} {% endfor %}
                 
    bridge-vids {% for vlan in racks[devices[inventory_hostname].rack].vlans %}{{ vlan }} {% endfor %}

    bridge-vlan-aware yes