
###############
# Fabric Links
###############

{% for interface in fabric_links %}
auto {{ interface }}
iface {{ interface }}
    alias fabric link
    address {{ devices[inventory_hostname].loopback }}

{% endfor %}
