
###############
# SVI
###############
{% for svi in devices[inventory_hostname].svis %}
auto vlan{{ svi }}
iface vlan{{ svi }}
    address {{ devices[inventory_hostname].svis[svi].ipv4 }}
#    {% if "border" not in inventory_hostname %}
    address-virtual {{ racks[devices[inventory_hostname].rack].vrr[svi].mac }} {{ racks[devices[inventory_hostname].rack].vrr[svi].ipv4 }}
#    {% else %}
#    vrrp {{ svi }} {{ racks[devices[inventory_hostname].rack].vrrp[svi].ipv4 }}
#    {% endif %}
    vlan-raw-device bridge
    vlan-id {{ svi }}

{% endfor %}
